version: "3.8"

services:
  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    ports:
      - "7000:9000"
      - "7001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
      MINIO_DOMAIN: s3_url.goouty.com
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

  minio-init:
    image: minio/mc:latest
    container_name: minio-init
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mc alias set local http://minio:9000 minioadmin minioadmin123;

      mc mb -p local/goouty-prod;
      mc mb -p local/goouty-dev;
      mc mb -p local/goouty-local;

      mc anonymous set public local/goouty-prod;
      mc anonymous set public local/goouty-dev;
      mc anonymous set public local/goouty-local;

      echo 'Buckets created & public access enabled';
      "

volumes:
  minio_data:
